@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

#calc-frame {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    height: 555px;
    width: 425px;
    border-radius: 25px;
}

#screen {
    align-self: center;
    background-color: #bad98d;
    width: 83%;
    height: 15%;
    border-radius: 15px;
}

#buttons-container {
    align-self: center;
    margin: 0 auto;
    color: white;
    height: 90%;
}

.row {
    display: flex;
    justify-content: center;
}

.calc-button {
    background-color: #82817e;
    height: 100%;
    width: 100%;
}
