@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-flow: flex-wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    align-self: center;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

#calc-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

#calc-frame {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: #343a40;
    height: 555px;
    width: 425px;
    border-radius: 25px;
    padding-top: 25px;
}

#screen {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-self: center;
    background-color: #bad98d;
    width: 83%;
    height: 15%;
    border-radius: 15px;
}

.screen-text {
    padding-right: 20px;
    font-size: 3em;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1%;
    color: white;
    height: 90%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-right: 12px;
    margin-left: 12px;
}

.calc-button {
    background-color: #82817e;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Azeret Mono', monospace;
    font-size: 2em;
}

.operator {
    background-color: #87dee6;
}

#equals {
    background-color: #fa5252;
}
